/* ====================================
Component
==================================== */
/* タイトルのスタイルを定義しています。
------------------------------------ */
// コンテンツのタイトル
.c-container-title {
    font-size: $font-size-xxl;
    font-family: $font-family_corp;
    padding: $space_l 0;
    margin-bottom: $space_3l;
    text-align: center;
}