/* ====================================
Project
==================================== */
/* ACCESSセクションのスタイルを定義しています。
------------------------------------ */
.p-access {
    width: 620px;
    margin: 0 auto;

    @include mq() {
        width: 100%;
    }

    &__map {
        margin-bottom: $space_xxl;
        text-align: center;

        iframe {
            width: 100%;
        }
    }

    &__showName {
        padding-bottom: $space_m;
        text-align: center;
    }

    &__subName {
        font-family: $font-family_corp;
        font-size: $font-size_l;
    }

    &__mainName {
        font-family: $font-family_corp;
        font-size: $font-size_xl;
    }

    &__ruby {
        font-family: $font-family_corp;
        font-size: $font-size_l;
    }

    &__br {
        display: none;
    }

    &__tel {
        text-decoration: underline;
    }
}