/* ====================================
Project
==================================== */
/* ヒーローイメージのスタイルを定義しています。
------------------------------------ */
.p-hero {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-image: url("../dist/img/hero_4.jpg");
    color: $color_white;
    font-family: $font-family_corp;
    font-size: $font-size-3l;
    justify-content: center;
    height: 100vh;

    &:before {
        background: inherit;
        content: '';
        filter: brightness(0.8);
        position: absolute;
        top: -5px;
        right: -5px;
        bottom: -5px;
        left: -5px;
    }

    @include mq(sm) {
        background-attachment: initial;
    }

    &__title {
        font-size: 100px;
        letter-spacing: 30px;
        margin: auto;
        position: relative;
        @include mq(sm) {
            font-size: 50px;
        }
    }

    .c-container {
        position: relative;
    }
}