/* ====================================
Project
==================================== */
/* ニュースのスタイルを定義しています。
------------------------------------ */
.p-news {
    color: $color_white;
    background-color: $color_green;
    border-radius: $border-radius_normal;
    font-size: $font-size_l;
    height: 400px;
    width: 100%;
    margin-bottom: $space_3l;
    padding: $space_xl;
    overflow-y: scroll;
    box-shadow: $box-shadow_outer;

    @include mq(lg) {
        width: 95%;
        margin-right: auto;
        margin-left: auto;
    }

    &__area {
        border-bottom: $border_gray;
        margin-bottom: $space_l;
        padding-bottom: $space-l;
        &:last-child {
            margin-bottom: 0;
            border-bottom: none;
            padding-bottom: 0;
        }
        @include mq(sm) {
            padding-bottom: 0;
            border-bottom: none;
        }
        
    }

    &__item {
        height: 160px;
        width: 100%;

        @include mq(sm) {
            flex-direction: column;
            height: auto;
        }

        :hover {
            .p-news__text {
                text-decoration: underline;
            }
        }
    }


    &__img {
        height: 160px;
        width: 30%;

        @include mq(sm) {
            margin-bottom: 5px;
            margin-right: 0!important;
        }

        img {
            height: 160px;
            width: 100%;
            object-fit: cover;
        }

        @include mq(sm) {
            width: 100%;
        }
    }

    &__text {
        width: 65%;
        padding: $space_s;
        display: block;
        @include mq() {
            width: 72%;
        }

        @include mq(sm) {
            width: 100%;
            padding: $space_s 0 $space_s 0;
        }
    }

    &__date {
        margin-bottom: $space_m;
    }

    &__title {
        width: 90px;
        border-right: $border_gray;

        @include mq() {
            font-size: $font-size_m;
            width: 60px;
            border-right: none;
            border-bottom: $border_white;
        }
        @include mq(sm) {
            margin-bottom: $space_s;
            display: block;
        }
    }

    &__detail {
        padding-left: $space_m;
        @include mq(sm) {
            font-size: $font-size_m;
        }
    }

    &__article {
        font-size: $font-size_default;
        margin-bottom: $space_m;
        position: relative;
        display: block;

        @include mq() {
            padding-bottom: 0px;
            margin-bottom: 8px;
            position: unset;
        }

        @include mq(sm) {
            padding-bottom: 0px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}